*{
    margin: 0; 
    padding: 0; 
}

*, *::before, *::after{
    box-sizing: border-box; 
}

body{
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.player-profile {
    width: 1066px;
    height: 280px;
    margin-top: 24px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #50935E, #182D1D);
    border-radius: 10px;
    overflow: hidden;
}

.player-photo, .player-bio, .player-achievements {
    height: 232px;
}

.player-photo {
    width: 352px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.player-bio {
    width: 282px;
    margin: auto 50px;
    padding-bottom: 16px;
    color: white;
}

.player-bio h2 {
    margin-bottom: 16px;
}

.player-bio p {
    margin-bottom: 20px;
}

.player-bio strong {
    padding-right: 6px;
}

.player-achievements {
    width: 284px;
}

.rowAccomplishments, .graphContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.champion, .allStar, .allRookie, .allDefense {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    border-radius: 2px;
}

.champion {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBF00;
    color: #654C00;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    z-index: 999;
}

.allRookie, .allStar{
    width: 132px;
    margin: 16px 0;
    background-color: #fff;
    color: #373737;
    font-size: 12px;
}

.allDefense {
    width: 132px;
    background-color: #A55427;
    color: #fff;
    font-size: 12px;
}

.slider-container {
    width: 1066px !important;
    margin: 48px auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.graphContainer{
    width: 1066px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careerStats, .shotChart {
    height: 492px;
    border: 1px solid #DADADA;
}
.careerStats{
    width: 126px;
}

.shotChart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 866px;
    border-radius: 2px;
    border: 3.4px solid #DADADA !important;
}

.teamsPlayedFor {
    margin-top: 38px;
    width: 284px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.BNets, .NJN, .Lakers, .Bucks {
    height: 60px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 2px;
}

.NJN {
    background-color: #253485;
}

.BNets {
    background-color: #000;
}

.Lakers {
    background: linear-gradient(150deg, #FFF50A, #6722F9);
}

.Bucks {
    background: linear-gradient(150deg, #50935E, #000);
}